/*for youxi_base page*/
#header {
  background: #d54e21;
  height: 70px;
  width:1000px;
}

#header a {
  color:white;
}

#user_operations {
  margin-top: 42px;
  margin-left: 40px;
  position: absolute;
}
#user_operations a {
  color:silver;
}

#logo_area {
  padding: 3px;
  width: 210px;
  position:relative;
  float:left;
}
#links_area {
  float: left;
  width: 780px;
}

#page_link_area {
  margin-top: 28px;
}
#page_links {
  text-align:center;
  margin-left: 100px;
  float:left;
}
#page_links .hotlink a{
  color: yellow;
}

#page_links li {
  font-size:18px;
  float:left;
  white-space: nowrap;
  text-align: center;
  vertical-align: bottom;
  text-decoration: none;
  margin-bottom: 0px;
  padding: 0px 10px 0px 10px;
}
#page_links .current {
  /*padding: 10px 0px 0px 0px;*/
  border-bottom:3px solid white;
}
#page_links .current a {
  font-weight: bold;
}
#quicksearch {
  float:right;
}

form > p,h1 {
  padding-top: 0px;
  margin-top: 0px;
}

#content {
  background: #f1feeb;
  /*margin-top: -11px;*/
  padding-top: 0px;
}

#fdb_form label {
  vertical-align:top;
}
#fdb_form textarea {
  width:750px;
  height:80px;
}

h1 {
  font-size: 20px;
  padding: 0px;
  margin: 0px;
  clear: both;
}
/*游戏活动区域*/
#game-activities {
  min-height: 530px;
  margin: 10px;
}

/*for comment*/
#comments .comment_header{
  background:#EBFEC1;
  font-style:italic;
}
#comments .comment_content {
  padding:5px;
}
#comments .lou {
  font-weight: bold;
  font-size: large;
  color:gray;
  width: 28px;
  text-align:right;
  padding-right: 10px;
}
#comments {
  width:950px;
}
.odd {
  background-image: url("/static/images/youxi/odd.jpg");
  padding:3px;
}
.even {
  padding:3px;
}
#comment_form {
  padding-left:60px;
}
#activities {
  clear: both;
  background: #EEFFCC;
}
#content table {
  width:1000px;
  clear:both;
}
#content td {
  border-bottom: #cceff5 1px solid;
  padding-bottom: 5px;
}
#select_gate_number {
    width: 40px;
}
.page-area {
  background:#cdeb8b;
  color: #003300;
}
.page-area:hover {
  background:#cdeb8b;
  color: black;
}
#game-replays {
  border: 1px solid white;
  float: left;
  width: 500px;
}

/*评论*/
#comment_text {
  width: 800px;
  height: 60px;
}

/*list operations */
#list-box {
  width:500px;
  height:500px;
  position: relative;
  float:left;
}
#list-box input,textarea { width: 480px; }
#list-box textarea { height: 80px; }
#list-box label { font-weight: bold; }

/*整体背景*/
#content {
  background-image: url("/static/images/youxi/back.gif");
}
#content h3 {
  color: green;
}
#battle-field {
  width: 600px;
  float: left;
}

/*谈话窗口*/
#talked {
  font-size: 14px;
  height: 300px;
  overflow: auto;
  text-align: left;
  background: white;
}
#talked a {
  color: #688;
}
#chatinput {
  padding-top: 5px;
  -moz-border-radius-bottomleft: 10px;
  -moz-border-radius-bottomright: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  background: #ff8833;
}
.chatitem {
  padding: 0px 5px;
  margin: 0px;
  margin-top: 5px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius-bottomleft: 0px;
  -webkit-border-bottom-left-radius: 0px;
  border-radius: 10px;
  border: 3px solid green;
  background: #ccffcc;
}
.mychatitem {
  -moz-border-radius-bottomleft: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-bottomright: 0px;
  -webkit-border-bottom-right-radius: 0px;
  border-color: #bb00bb;
  text-align: right;
  background: #ffeecc;
}
.systemitem {
  text-align: center;
  margin-top: 5px;
  border: 1px solid gray;
  border-left-width: 6px;
  border-right-width: 6px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
.time_tag {
  color: gray;
}
#chatbox {
  padding: 2px;
  float:left;
  width: 360px;
}
#infobox {
  background:none;
  border: 2px dotted yellow;
  font-size: 22px;
}
#chatwnd { text-align: center; }
#chatwnd h3 {
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-topright: 10px;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  margin: 0px;
  padding: 3px 0px;
  background: #ffff99;
}
#sms { width: 300px; }

#where_you_are {
  font-size: 14px;
  margin-bottom: 5px;
  height: 14px;
  float:left;
}

/* youxi home tabs
----------------------------------*/
.tab {
  display:none; padding:10px 10px; border: 1px solid gray;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
.tabs { padding:10px 18px; }
.tabs li {
  display:inline; padding:10px 18px; margin:10px 10px;
}
.tabs li.selected{
  border: 1px solid gray;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-topright: 10px;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
}
.tabs li.selected a{}

#descriptions { background-image: url("/static/images/youxi/odd.jpg"); }

